.home-view {
  /* position: relative; */
  /* border: 1px solid red */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-view .saludo-hv {
  /* border: 1px solid green; */
  display: flex;
  height: 200px;
  width: 100%;
}

.home-view .saludo-hv h1 {
  width: 100%;
  font-size: 4rem;
  align-self: center;
  text-align: center;
  /* border: 1px solid blue; */
}

.home-view .saludo-hv .username {
  color: var(--buttons-color-hover);
  text-transform: uppercase;
}

.home-view .main-post-view {
  width: 100%;
  display: grid;
  margin: 40px 0;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  /* border: 4px var(--buttons-color-hover) solid; */
  position: relative;
  min-height: 200px;
  height: 400px;
  z-index: 10;

  overflow: hidden;
}

.card img {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card .fondo {
  position: absolute;
  z-index: 5;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #27232f);
  width: 100%;
  height: 100%;
  top: 0;
}

.card .metadatos {
  width: 90%;
  bottom: 10%;
  left: 5%;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #f2f2f2;
}

.card .metadatos .titulo {
  left: 5%;

  display: block;
  width: 100%;
  left: 5%;
  font-size: 1.5rem;
  z-index: 10;
}

.card .metadatos .category-date {
  display: flex;
  z-index: 10;

  font-size: 0.9rem;
  /* bottom: ; */
  width: 90%;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.card .metadatos .category-date .date {
  font-weight: 300;
}

.card .metadatos .category-date .category {
  overflow: hidden;
  font-weight: 600;
  /* border: 1px blue solid; */
  padding: 0 0.25rem;
  background-color: var(--buttons-color);
  /* color: var(--deepblue); */
  word-wrap: break-word;
}

@media (max-width: 1400px) {
  .home-view .main-post-view {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card {
    height: 300px;
  }

  .home-view .saludo-hv h1 {
    font-size: 3.5rem;
  }

  .card .metadatos .category-date {
    font-size: 0.75rem;
    /* bottom: ; */
  }

  .card .metadatos .titulo {
    font-size: 1.25rem;
  }
}

@media (max-width: 1100px) {
  /* .home-view .main-post-view {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  } */
  .home-view .saludo-hv h1 {
    font-size: 3rem;
  }
}

@media (max-width: 630px) {
  .home-view .saludo-hv h1 {
    font-size: 4vh;
  }
}

@media (max-width: 450px) {
  .home-view .main-post-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card {
    height: 200px;
  }

  .card .metadatos .category-date {
    font-size: 0.5rem;
    /* bottom: ; */
  }

  .card .metadatos .titulo {
    font-size: 1rem;
  }
}
