.home-view {
  /* position: relative; */
  /* border: 1px solid red */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-view .saludo-hv {
  /* border: 1px solid green; */
  display: flex;
  height: 200px;
  width: 100%;
}

.home-view .saludo-hv h1 {
  width: 100%;
  font-size: 4rem;
  align-self: center;
  text-align: center;
  /* border: 1px solid blue; */
}

.home-view .saludo-hv .username {
  color: var(--buttons-color-hover);
  text-transform: uppercase;
}

.home-view .main-post-view {
  width: 100%;
  display: grid;
  margin: 40px 0;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  /* border: 4px var(--buttons-color-hover) solid; */
  position: relative;
  min-height: 200px;
  height: 400px;
  z-index: 10;

  overflow: hidden;
}

.card img {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card .fondo {
  position: absolute;
  z-index: 5;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #27232f);
  width: 100%;
  height: 100%;
  top: 0;
}

.card .metadatos {
  width: 90%;
  bottom: 10%;
  left: 5%;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #f2f2f2;
}

.card .metadatos .titulo {
  display: block;
  font-size: 1.5rem;
  z-index: 10;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card .metadatos .category-date {
  display: flex;
  z-index: 10;

  font-size: 0.9rem;
  /* bottom: ; */
  width: 90%;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.card .metadatos .category-date .date {
  font-weight: 300;
}

.card .metadatos .category-date .category {
  display: inline-block;
  overflow: hidden;
  font-weight: 600;
  /* border: 1px blue solid; */
  padding: 0.1rem 0.25rem;
  background-color: var(--buttons-color);
  /* color: var(--deepblue); */
  word-wrap: break-word;
  cursor: pointer;
}

.card .metadatos .category-date .category:hover {
  background-color: var(--buttons-color-hover);
}

/* Crete-Edit Post Form */

.home-view .form-view {
  /* border: 2px green solid; */
  width: 100%;
  min-height: 1000px;
}

.home-view .form-view * {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.home-view .form-view label {
  color: var(--buttons-font-color);
  font-weight: 500;
}

.home-view .form-view input[type="text"],
.home-view .form-view select,
.home-view .form-view textarea,
.home-view .form-view option {
  padding: 0 10px;
  line-height: 1.5;
  font-weight: 300;
}

.home-view .form-view select {
  width: 350px;
}

.home-view .form-view textarea {
  display: block;
  width: 100%;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

.home-view .form-view input[type="file"] {
  display: none;
}

.home-view .form-view .center {
  display: flex;
  align-items: center;
  /* border: 2px red solid; */
  width: 100;
}

.home-view .form-view select,
.home-view .form-view button {
  cursor: pointer;
}

.home-view .form-view button {
  background-color: var(--buttons-color);
  width: 300px;
  /* border: 1px var(--buttons-font-color) solid; */
  border: none;
  color: var(--buttons-font-color);
  border-radius: 5px;
  padding: 4px 0;
}

.home-view .form-view button:hover,
.user-post .container .contenido button:hover {
  background-color: var(--buttons-color-hover);
}

/* User post view */

.user-post {
  width: 80%;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-post .container {
  display: flex;
  width: 1200px;
  margin: 20px 0;
  height: 250px;
  background-color: var(--fondo-post);
  color: var(--font);

  position: relative; /* color: var(--buttons-font-color); */
}

.user-post .container img {
  width: 400px;
  height: 250px;
}

.user-post .container .contenido {
  /* border: 2px blue solid; */
  height: 250px;
  padding: 10px;
}

.user-post .container .fondo {
  background-size: cover;
  position: absolute;
  z-index: 5;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #27232f);
  width: 400px;
  height: 250px;
  bottom: 0;
  left: 0;
  transition: none;
}

.user-post .container .contenido .title {
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.user-post .container .contenido .category {
  display: inline-block;
  /* border: 2px green solid; */
  background-color: var(--buttons-color);
  color: var(--buttons-font-color);
  padding: 0.1rem 0.25rem;
}

.user-post .container .contenido h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.user-post .container .contenido h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.user-post .container .contenido h3 {
  font-size: 1rem;
  font-weight: 300;
}

.user-post .container .contenido .edit-eliminate {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.user-post .container .contenido button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  background-color: var(--buttons-color);
}

.user-post .container .contenido ion-icon {
  font-size: 2rem;
  height: 25px;
  width: 25px;
  color: var(--buttons-font-color);
}

/* MediaQueries  */

@media (max-width: 1600px) {
  .user-post .container {
    width: 1000px;
  }
}

@media (max-width: 1400px) {
  .home-view .main-post-view {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card {
    height: 300px;
  }

  .home-view .saludo-hv h1 {
    font-size: 3.5rem;
  }

  .card .metadatos .category-date {
    font-size: 0.75rem;
    /* bottom: ; */
  }

  .card .metadatos .titulo {
    font-size: 1.25rem;
  }

  .user-post .container {
    flex-direction: column;
    height: 600px;
    width: 600px;
  }

  .user-post .container .fondo {
    height: 350px;
    width: 600px;
    top: 0;
    left: 0;
  }

  .user-post .container img {
    width: 100%;
    height: 350px;
  }

  .user-post .container .contenido {
    height: 250px;
  }
}

@media (max-width: 1100px) {
  .user-post .reep {
    font-size: 1.25rem;
    text-align: center;
  }
  .home-view .saludo-hv h1 {
    font-size: 3rem;
  }
  .user-post .container {
    width: 500px;
  }

  .user-post .container .fondo {
    width: 500px;
  }
}

@media (max-width: 750px) {
  .user-post .container {
    height: 500px;
    width: 370px;
  }

  .user-post .container .fondo {
    width: 370px;
    height: 290px;
  }

  .user-post .container img {
    width: 100%;
    height: 350px;
  }

  .user-post .container .contenido h1 {
    font-size: 1.25rem;
  }

  .user-post .container .contenido h2 {
    font-size: 1rem;
  }

  .user-post .container .contenido h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 650px) {
  .home-view .form-view * {
    font-size: 1.35rem;
  }
  .home-view .saludo-hv h1 {
    font-size: 3rem;
  }

  .home-view .form-view button,
  .home-view .form-view select {
    width: 255px;
  }
}

@media (max-width: 450px) {
  .home-view .form-view * {
    font-size: 1.25rem;
  }
  .home-view .saludo-hv h1 {
    font-size: 2rem;
  }
  .home-view .main-post-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card {
    height: 300px;
  }

  .card .metadatos .category-date {
    font-size: 0.5rem;
  }

  .card .metadatos .titulo {
    font-size: 1rem;
  }
  .home-view .form-view input[type="text"],
  .home-view .form-view button,
  .home-view .form-view select,
  .home-view .form-view textarea {
    width: 75vw;
  }
}

@media (max-width: 360px) {
  .home-view .main-post-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card {
    height: 200px;
  }

  .card .metadatos .category-date {
    font-size: 0.5rem;
  }

  .card .metadatos .titulo {
    font-size: 1rem;
  }

  .user-post .container {
    width: 300px;
    height: 400px;
  }
}
