/* Fonts que quizá usaré */
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tiny5&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tiny5&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* Reset total */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  /* border: 1px solid red; */
}

/* Variables  */
:root {
  --fondo: #dadada;
  --sidebar: #393e46;
  --buttons-color: #0f9ca4;
  --buttons-color-hover: #02b6c0;
  --buttons-font-color: #222831;
  --font: #f2f2f2;
  --font-menu: #f2f2f2;
  --font-linea: #747474;
  --switch-base: #dadada;
  --switch-circulo: #393e46;
}

/* Elemento que encierra todo, se encuentra en el body */
/* 
#root {
} */

.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--fondo);
}

main {
  background-color: red;
}

[data-theme="darkmode"] {
  --fondo: #2c2a2f;
  --sidebar: #e00f4e;
  --buttons-color: rgb(47, 38, 63);
  --buttons-color-hover: #513486;
  --buttons-font-color: #dde5f0;
  --font: #dadada;
  --font-menu: #dadada;
  --font-linea: #747474;
  --switch-base: #2c2a2f;
  --switch-circulo: #dadada;
}

.page {
  margin-left: 250px;
  padding-left: 20px;
}

.min-page {
  margin-left: 80px;
}
