.Toastify .Toastify__toast-container {
  font-size: 1.4rem;
  width: 500px;

  /* Puedes cambiar este valor según tus necesidades */
}

.container-login {
  min-height: 100vh;
  width: 100%;
  background-color: var(--sidebar);
  /* background-image: url("../../assets/img/CgETa-BUYAAhkeW.jpg"); */
  color: #393e46;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.login-form {
  display: flex;
  min-height: 400px;
  flex-direction: column;
  height: 700px;
  width: 420px;
  min-width: 300px;
  background-color: #f2f2f2;
  /* border: 2px solid green; */
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 12.5px 2px rgba(0, 0, 0, 0.5);
}

.container-login .login-form .logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  /* border: 2px yellow solid; */
  align-items: center;
  justify-content: center;
  background-color: var(--buttons-color);
  color: var(--font);
}

.container-login .login-form .logo ion-icon {
  font-size: 4rem;
}

.container-login .login-form .logo span {
  font-size: 2rem;
  font-weight: 800;
}

.login-form.register {
  height: 800px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 20px 40px;
  /* border: 2px solid blue; */
  height: 100%;
  width: 100%;
}

.login-form form h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  /* border: 2px solid green; */
}

.login-form form h3 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 30px;
  /* border: 2px solid green; */
}

.login-form form label {
  font-size: 1.2rem;
  font-weight: 500;
}

.login-form form input {
  font-size: 1rem;
  padding: 0 5px;
}

.login-form form .email,
.login-form form .password {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px 0;
  /* border: 2px solid green; */
}

.login-form form .email label,
.login-form form .password label {
  margin-bottom: 5px;
}

.login-form form .email input,
.login-form form .password input {
  padding: 1px 10px;
  line-height: 1.5; /* Ajusta la altura de la línea si es necesario */
}

.container-login .login-form .link-register {
  /* border: 2px solid green; */
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container-login .login-form button {
  display: flex;
  font-size: 1rem;
  margin: auto;
  /* border: 2px solid green; */
  border-radius: 10px;
  padding: 10px 30px;
  background-color: var(--buttons-color);
  color: var(--font);
  font-weight: 500;
  border: 0;
  cursor: pointer;
}

.regresar {
  display: flex;
  align-items: center;
  background-color: var(--buttons-color);
  color: var(--font);
  cursor: pointer;
  /* border: 1px blue solid; */
  /* background-color: white; */
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.25rem;
  padding: 10px 15px;
  border-radius: 0px 0px 10px 0px;
}

.container-login a {
  color: var(--font);
  text-decoration: none;
}

.container-login .link-register a {
  color: var(--buttons-color);
}

.container-login .link-register a:hover {
  color: var(--buttons-color-hover);
}

.container-login .login-form button:hover,
.regresar:hover {
  background-color: var(--buttons-color-hover);
}

@media (max-height: 840px) {
  .regresar {
    display: none;
  }
}
